
body {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  padding: 2.6vh;
  background-color: #e1b6f1;
}
@media only screen and (max-width: 768px) {
    body {
        padding: 0;
    }
}
@media only screen and (max-width: 768px) {
.container-fluid {
    padding: 0;
}
}
#header-hero {
  display: inline-block;
  width: 100%;
  height: 400px;
  position: relative;
}

#hero-bg {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(160, 21, 252, 0.37),
      rgba(255, 0, 64, 0.295)
    ),
    url(https://media.giphy.com/media/NKEt9elQ5cR68/giphy.gif);
  background-position: center;
  background-size: cover;
  object-fit:contain;
  width: 100%;
  height: 90vh;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
  opacity: 0.80;
}

/* .header-first-name {
    font-size: 120px;
    background-image: url(https://media.giphy.com/media/Ii3VY9rN94TMVVtyn6/giphy.gif);
    background-position: center;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-family: 'lazer84', sans-serif;
}

.header-last-name {
    font-size: 120px;
    background-image: url(https://media.giphy.com/media/XcRjXm7w6kh721pNJD/giphy.gif);
    background-position: center;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-family: 'lazer84', sans-serif;
} */

h1 {
  font-size: 8vw;
  font-family: "Patua One", cursive;
  color: white;
  padding-top: 20vh;
  letter-spacing: 4px;
}

h2 {
  font-family: "Patua One", cursive;
  color: white;
  letter-spacing: 20px;
  font-size: 5vw;
}

h3 {
  color: black;
}

button {
  background-image: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
  margin-bottom: 2vh; 
}

/* .test {
    background-color: linear-gradient(45deg, #FE6B8B 30%, #FF8E53 90%);
    background-image: url(https://media.giphy.com/media/1dJWnCZBCE7gcFwLvk/giphy.gif);
    background-position: bottom;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-family: 'lazer84', sans-serif;
} */

.for-steph {
    color: black;
    padding-top: 0;
    padding-bottom: 5vh;
    background-image: url(https://media.giphy.com/media/Ii3VY9rN94TMVVtyn6/giphy.gif);
    background-position: center;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    font-family: 'Montserrat', sans-serif;
}

.intro-section {
  padding-top: 5vh;
}

.projects {
  padding: 2vh 0 4vh 0;
}

.projects-bg {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(
      to bottom,
      rgba(188, 105, 243, 0.37),
      rgba(255, 0, 64, 0.295)
    ),
    url(../assets/images/retro-top.jpg);
  background-position: center;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  height: 90vh;
  z-index: -1;
  clip-path: polygon(0 0, 100% 10%, 100% 100%, 0 90%);
  opacity: 0.80;
}
@media only screen and (max-width: 768px) {
.footer-container {
    display: inline-block;
}
}

.footer {
  height: 20vh;
  background-color: #873883;
  color: white;
  text-align: center;
  padding: 0 10vw 0 10vw;
  opacity: 0.80;
  overflow: auto;
}
@media only screen and (max-width: 768px) {
    .footer {
        padding-bottom: 0;
        margin: 0;
    }
}